<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
    <All>
        <String key="HOST" value="172.17.0.1" name="Host" description="Server host name or IP"/>
        <String key="PORT" value="8080" name="Port" description="Server port number"/>
    </All>
</PitDefines>

<!-- 
    tcp://172.17.0.1:9001
    /home/Fuzzing/PeachPit/Network/Test/CrashableServer
    172.17.0.1 8080
-->